@{
    ViewData["Title"] = "List All";
}
@model Person_info;
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="text-center">
    <h1 class="display-4">Listing all people in the database</h1>
    <div class="grid-container">
        @{
            foreach (var person in Person_info.GetAllPerson())
            {
                <div class="grid_item">@person.firstname @person.lastname from @person.country </div>
            }
        }
    </div>
</div>
